<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="card my-4" style="flex-grow: 1;">
            <div class="card-body">
                <div id="messages"></div>
            </div>
        </div>  

        <form id="form">
            <input type="text" name="message"/>
        </form>  
        <div class="continer" style="display: flex; align-items: center; justify-content: space-between; border-top: 1px solid #ccc; padding: 10px; margin-top: auto;">
            <input type="file" id="fileInput" class="form-control" accept="image/jpeg, image/png" style="flex: 1; margin-right: 10px; padding: 5px; border: 1px solid #ccc; border-radius: 4px; display: none;">
            <button　type="button" class="btn btn-primary" id="uploadButton">Upload Image</button>
        </div>
    </div>
</body>

<script type="text/javascript">
    let url = 'ws://localhost:8000/ws/socket-server/';

    let ID = Math.floor(Math.random() * 10000)

    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(e) {

        let data = JSON.parse(e.data)
        console.log(data)

        if (data.type === 'chat_messagechat') {
            let messages = document.getElementById("messages");
            messages.insertAdjacentHTML('beforeend', `<div>
                    <p>user${data.id}: ${data.message}</p>

                </div>`)
        }

        else if (data.type === 'chat_messageimage') {
            let image = data.image;
            const img = document.createElement('img');
            img.src = image;
            document.getElementById('messages').appendChild(img);
        }
    }

    let form = document.getElementById("form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        let message = e.target.message.value; // message text
        chatSocket.send(JSON.stringify({
            'type':'text',
            'message': message,
            'id':ID,
        }))
        form.reset()
    })

    // listens for button press -> triger file input
    document.getElementById('uploadButton').addEventListener('click', function() {
        document.getElementById('fileInput').click();
    });

    // gets triggered when button is pressed

    const fileInput = document.getElementById('fileInput');
    fileInput.onchange = function() {
        const file = fileInput.files[0];
        const reader = new FileReader();
        reader.onload = function(event) {
            const base64String = event.target.result; // Get base64 part
            chatSocket.send(JSON.stringify({
                'type':'image',
                'image': base64String,
                'id':ID,
            }));
        };
        reader.readAsDataURL(file); // Read the file as a Data URL
    };

</script>
</html>

